section{
    width: 90%;
    margin: auto;
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    row-gap: 35px;
}
.cards{
    width: 300px;
    padding: 20px;
    background-color: #232f3e;
    border-radius: 20px;
}
.cards:hover{
    box-shadow: 0 10px 10px 10px rgba(0,0,0,0.1);
    cursor: pointer;
}
.image_box img{
    width: 150px;
    height: 200px;
    border-radius: 10px;
}